/* Theme https://www.schemecolor.com/old-telephone.php  */

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  /* background-image: url("img.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-color: #FED440;
}

header {
  margin: 10px;
  padding: 0;
  background-color: #090703;
  color: #FED440;
  text-align: center;
}


nav img {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%; 

  border-top: 1px solid #FED440;

  /* Ehm dont look to close on the aspect-ratio xD */


}



nav h2{

  

  border-bottom: 1px solid #FED440;
  width: 100%;


  color: #FED440;

  font-size: 24px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}

nav p{

  color: #FED440;

  padding: 10px;
  padding-bottom: 15px ;
  font-size: 16px;
}

nav {
  display: flex;
  /* flex-direction: row; */
  padding: 10px;
  justify-content: center;
  align-items: center;


}

nav ul {
  display: flex;
  flex-wrap: wrap; 
  /* gör så nya column skapas ifall rowen blir för lång */

  justify-content: center;

  /* margin: 20px; */

  background-color: whie;

}

nav li {
  background-color: #090703;
  
  list-style: none;

  margin: 5px;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 5px solid black;

  max-width: 300px;
  
   


}


